[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = shuvro
	email = shuvro.dhrubo@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINKnCMFw2n12/FeuKeSgD9Xcbt4OLKTEcqv7YqESAQ4w
[init]
	defaultBranch = main
[core]
	autocrlf = input
[url "https://github.com/"]
	insteadOf = git://github.com/
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
