[submodule "lvim/.config/lvim"]
	path = lvim/.config/lvim
	url = ssh://git@github.com/shuvro/lvim.git
  branch = custom
[submodule "tmux"]
	path = tmux
	url = ssh://git@github.com/shuvro/.tmux.git
  branch = custom
[submodule "i3/.config/i3/bumblebee-status"]
	path = i3/.config/i3/bumblebee-status
	url = ssh://git@github.com/tobi-wan-kenobi/bumblebee-status.git
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = ssh://git@github.com/shuvro/nvim.git
